/* Using prcentages so that the div and everything inside it, including the
canvas scales when appropriate to accomodate screens of different sizes (i.e 
phones and tablets)*/

#gameArea {
    position:relative;
	display:block;
	margin:auto;
	visibility:hidden;
}

#gameCanvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadingText {
	position:fixed;
    bottom: 0;
    width: 100%;
	display:block;
	font-size: 5em;
	margin:auto;
	font-family: "Comic Sans MS", Georgia, Serif;
	text-align: center;
	top: 70%;
	transform: translateY(-40%);
	color: #6666ff;
	z-index: 10;
}

body {
	background-color: #e6f3f7;
}